@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="details">
        <h1>Yash Sanjay Chatim</h1>
        <h2>Software developer</h2>
    </div>
</div>

<style>
    body {
        background-color: transparent;
        background-image: url('images/mainbackground.jpg'); 
        background-size: cover;
        color: white;
    }

    h1 {
        font-size: 65px;
    }

    h2 {
        font-size: 50px;
    }

    .details {
        margin: 22% 0 0 45%;
        text-align: center;
    }

</style>
