@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-auto col-auto"></div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 details">
            <h1>Yash Sanjay Chatim</h1>
            <h2>Software developer</h2>
        </div>
    </div>
</div>

<style>
    body {
        background: url('images/mainbackground.jpg') no-repeat center center fixed; 
        background-color: transparent;
        background-size: cover;
        color: white;
    }

    .details {
        margin-top: 22%;
        text-align: center;
    }

    .details h1 { font-size: 50px; }
    .details h2 { font-size: 45px; }

    @@media (max-width: 1200px) {
        .details h1 { font-size: 45px; }
        .details h2 { font-size: 40px; }
    }

    @@media (max-width: 992px) {
        .details { margin-top: 30%; }
        .details h1 { font-size: 35px; }
        .details h2 { font-size: 30px; }
    }

    @@media (max-width: 768px) {
        .details {
            margin: 33% 10% 0 0;
            text-align: end;
        }

        .details h1 { font-size: 30px; }
        .details h2 { font-size: 25px; }
    }

    @@media (max-width: 576px) {
        .details { margin: 35% 15% 0 0; }
        .details h1 { font-size: 25px; }
        .details h2 { font-size: 20px; }
    }

</style>
