@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>My name is Yash Sanjay Chatim</h1>
    <h2>I am a Software developer</h2>
</div>

<style>
    body {
        background-color: transparent;
        background-image: url('images/mainbackground.jpg'); 
        background-size: cover;
    }
</style>
