@{
    ViewData["Title"] = "Home Page";
}

<div class="container details">
    <h1>I'm Yash Sanjay Chatim</h1>
    <h2>A Software developer</h2>
</div>

<style>
    body {
        background-color: transparent;
        background-image: url('images/mainbackground.jpg'); 
        background-size: cover;
    }

    .details {
        text-align: center;
    }

</style>
