
@{
    ViewData["Title"] = "Skills";
}

<h1>Tech Skills</h1>

<div class="container">
    <img class="skill" src="~/images/html.png" />
    <img class="skill" src="~/images/css.png" />
    <img class="skill" src="~/images/javascript.png" />
    <img class="skill" src="~/images/oop.png" />
    <img class="skill" src="~/images/json.png" />
    <img class="skill" src="~/images/csharp.png" />
    <img class="skill" src="~/images/dotnet.png" />
    <img class="skill" src="~/images/mvc.png" />
    <img class="skill" src="~/images/mvvm.png" />
    <img class="skill" src="~/images/xml.png" />
    <img class="skill" src="~/images/xaml.png" />
    <img class="skill" src="~/images/sql.png" />
    <img class="skill" src="~/images/entity.png" />
    <img class="skill" src="~/images/nunit.png" />
    <img class="skill" src="~/images/winforms.png" />
    <img class="skill" src="~/images/wpf.png" />
    <img class="skill" src="~/images/xamarin.png" />
    <img class="skill" src="~/images/agile.png" />
    <img class="skill" src="~/images/bootstrap.png" />
    <img class="skill" src="~/images/react.png" />
    <img class="skill" src="~/images/node.png" />
    <img class="skill" src="~/images/mongodb.png" />
    <img class="skill" src="~/images/restapi.png" />
    <img class="skill" src="~/images/matlab.png" />
    <img class="skill" src="~/images/git.png" />
    <img class="skill" src="~/images/github.png" />
    <img class="skill" src="~/images/vscode.png" />
    <img class="skill" src="~/images/vs.png" />
    <img class="skill" src="~/images/cloud9.png" />
    <img class="skill" src="~/images/heroku.png" />
</div>

<style>
    body {
        background: rgb(0,228,255);
        background: linear-gradient(90deg, rgba(0,228,255,1) 29%, rgba(162,222,232,1) 50%, rgba(0,212,255,1) 79%);
        background-size: cover;
    }

    .skill {
        height: 12%;
        width: 12%;
        padding: 1%;
        border-radius: 50%;
    }
</style>
