
@{
    ViewData["Title"] = "Skills";
}

<h1>Tech Skills</h1>

<div class="container">
    <div class="skill"><img src="~/images/html.png" /><h3>HTML</h3></div>
    <div class="skill"><img src="~/images/css.png" /><h3>CSS</h3></div>
    <div class="skill"><img src="~/images/javascript.png" /><h3>Javascript</h3></div>
    <div class="skill"><img src="~/images/oop.png" /><h3>OOP</h3></div>
    <div class="skill"><img src="~/images/json.png" /><h3>JSON</h3></div>
    <div class="skill"><img src="~/images/csharp.png" /><h3>C#</h3></div>
    <div class="skill"><img src="~/images/dotnet.png" /><h3>.NET</h3></div>
    <div class="skill"><img src="~/images/mvc.png" /><h3>MVC</h3></div>
    <div class="skill"><img src="~/images/mvvm.png" /><h3>MVVM</h3></div>
    <div class="skill"><img src="~/images/xml.png" /><h3>XML</h3></div>
    <div class="skill"><img src="~/images/xaml.png" /><h3>XAML</h3></div>
    <div class="skill"><img src="~/images/sql.png" /><h3>SQL</h3></div>
    <div class="skill"><img src="~/images/entity.png" /><h3>Entity</h3></div>
    <div class="skill"><img src="~/images/nunit.png" /><h3>Nunit</h3></div>
    <div class="skill"><img src="~/images/winforms.png" /><h3>Winforms</h3></div>
    <div class="skill"><img src="~/images/wpf.png" /><h3>WPF</h3></div>
    <div class="skill"><img src="~/images/xamarin.png" /><h3>Xamarin Forms</h3></div>
    <div class="skill"><img src="~/images/agile.png" /><h3>Agile</h3></div>
    <div class="skill"><img src="~/images/bootstrap.png" /><h3>Bootstrap</h3></div>
    <div class="skill"><img src="~/images/react.png" /><h3>React</h3></div>
    <div class="skill"><img src="~/images/node.png" /><h3>Node</h3></div>
    <div class="skill"><img src="~/images/mongodb.png" /><h3>Mongodb</h3></div>
    <div class="skill"><img src="~/images/restapi.png" /><h3>REST API</h3></div>
    <div class="skill"><img src="~/images/matlab.png" /><h3>Matlab</h3></div>
    <div class="skill"><img src="~/images/git.png" /><h3>Git</h3></div>
    <div class="skill"><img src="~/images/github.png" /><h3>GitHub</h3></div>
    <div class="skill"><img src="~/images/vscode.png" /><h3>VS Code</h3></div>
    <div class="skill"><img src="~/images/vs.png" /><h3>Visual Studio</h3></div>
    <div class="skill"><img src="~/images/cloud9.png" /><h3>Cloud9</h3></div>
    <div class="skill"><img src="~/images/heroku.png" /><h3>Heroku</h3></div>
</div>

<style>
    body {
        background: linear-gradient(90deg, rgba(0,228,255,1) 29%, rgba(162,222,232,1) 50%, rgba(0,212,255,1) 79%);
        background-size: cover;
    }

    h1 {
        text-align: center;
    }

    .skill {
        display: inline-block;
        text-align: center;
        margin-top: 2%;
    }

    img {
        height: 150px;
        width: 150px;
        padding: 2%;
        border-radius: 50%;
    }
</style>
