
@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<div class="container">
    <div class="project">
        <h2>Game - WarriorX</h2>
        <p>
            A C# OOP focused two player 2D fighting game in Windows Forms application. 
            The game mechanics include horizontal movement, jumping, punching, kicking and blocking. 
            The aim of the game is to reduce the opponent’s health to zero to win.
        </p>
        <a href="https://github.com/YashChatim/winFormsWarriorX">GitHub</a>
    </div>

    <div class="project">
        <h2>Database app - League of Legends</h2>
        <p>
            A database application that stores data of his most played characters from a game named League of Legends.
            The data was then retrieved from the database using Entity Framework and finally displayed in Windows
            Presentation Foundation (WPF) application.
        </p>
        <a href="https://github.com/YashChatim/wpfLeagueDatabase">GitHub</a>
    </div>

    <div class="project">
        <h2>Group project - Sparta Training Room</h2>
        <p>An e-learning ASP.NET web application similar to Treehouse group with a team consisting of 10 members. 
        The application used MVC (Model-View-Controller) architectural pattern and Razor mark-up syntax to embed 
        server-based C# code, HTML and CSS into web pages. Microsoft's SQL Azure Database was used to host the 
        database in cloud, whereas Bootstrap was used to design the web pages. To build the complex application, 
        the team used scrum as its collaborative agile development framework and distributed their work in sprints. 
        To plan, track and manage their agile, and their application, the team used Jira. Git was used as their version control 
        and GitHub to host their git repositories. </p>
        <a href="https://github.com/HarryB96/SpartanTrainingRoom">GitHub</a>
    </div>

    <div class="project">
        <h2>Android app - LoLZ</h2>
        <p>An android application with Xamarin Forms which is a cross-platform framework. The application used 
        MVVM (Model-View-ViewModel) software architectural pattern. In this application you can search for an account in 
        League of Legends game which used Riot API depending on the region selected and Summoner name. The Http requests and 
        responses to/from the API was handled through a class called HttpClient. Newtonsoft.Json framework was used to 
        deserialize JSON data from the API and convert it into C# objects.</p>
        <a href="https://github.com/YashChatim/lolZ">GitHub</a>
    </div>

    <div class="project">
        <h2>Web app - Portfolio Website</h2>
        <p>A web app created wtih .NET Core. The application used MVC (Model-View-Controller) software architectural pattern 
        and Razor markup syntax to embed server-based C# code, HTML and CSS into web pages. The website consists of 5 sections 
        i.e. Home, About, Skills, Projects, CV and Contact. Each section has its own Controller. The portfolio website is deployed 
        on Azure and built a CI/CD (Continuous integration/Continuous deployment) pipeline with Azure resources.</p>
        <a href="https://github.com/YashChatim/portfolioWebsite">GitHub</a>
    </div>

    <div class="project">
        <h2>Colour game</h2>
        <p>A web-based game focusing on HTML5, CSS3, Javascript, DOM manipulation and event handling.</p>
        <a href="https://github.com/YashChatim/colorGame">GitHub</a>
        <a href="https://yashchatim.github.io/colorGame/">Demo</a>
    </div>

    <div class="project">
        <h2>To-do list app</h2>
        <p>A jQuery based app heavily focus on CSS, animation and effects, bootstrap, and is also responsive.</p>
        <a href="https://github.com/YashChatim/toDoList">GitHub</a>
        <a href="https://yashchatim.github.io/toDoList/">Demo</a>
    </div>

    <div class="project">
        <h2>Movie app</h2>
        <p>A node.js and express based app that uses an API which contains movie data.</p>
        <a href="https://github.com/YashChatim/movie_app">GitHub</a>
        <a href="https://rocky-meadow-59507.herokuapp.com/">Demo</a>
    </div>

    <div class="project">
        <h2>REST Blog app</h2>
        <p>A node.js and express based app focusing on RESTful routing, and semantic UI.</p>
        <a href="https://github.com/YashChatim/RESTBlogApp">GitHub</a>
    </div>

    <div class="project">
        <h2>Yelp camp</h2>
        <p>A complete app that uses all the frontend, backend and other technical skills.</p>
        <a href="https://github.com/YashChatim/yelpCamp_v12-Deployed">GitHub</a>
        <a href="https://blueberry-pudding-25899.herokuapp.com/">Demo</a>
    </div>

    <div class="project">
        <h2>Laser Defender</h2>
        <a href="https://github.com/YashChatim/Laser_Defender">GitHub</a>
    </div>

    <div class="project">
        <h2>Block Breaker</h2>
        <a href="https://github.com/YashChatim/Block_Breaker">GitHub</a>
    </div>

    <div class="project">
        <h2>Bowling Strike</h2>
        <h4><a href="https://youtu.be/KZXPCGJRrpU">Click here to watch a reel of these games</a></h4>
    </div>
</div>

<style>
    body {
        background-color: lightgray;
        color: white;
    }

    h1 {
        text-align: center;
    }

    h2 {
        display: inline-block;
        border-bottom: 1px dashed red;
    }

    .project {
        background-color: darkgray;
        border-radius: 3%;
        margin-bottom: 2%;
    }

        h2, p, .project a {
        margin-left: 2%;
    }
</style>
