
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<div class="container">
    <p>
        I am a proficient software developer with knowledge and competency in both frontend and backend.
        I have 3 years of academic experience in Javascript as well as 2 years in python, C# and Matlab.
        Additionally, I have 2 years of self-assigned experience working with the entire frontend pipeline
        which I have demonstrated through independent projects. My passion for development makes me a selfsufficient
        candidate eager to adapt to up-coming technologies and as such, refining my knowledge and skills further through
        professional experience.
    </p>
    <p>
        Curiosity to progressively acquire new knowledge makes me learn at an increasingly fast rate and thrive in a
        dynamically evolving environment. I believe every person has the potential for further development even those who
        have achieved the ultimate level of excellence and experience. I prioritize on empathizing everyone’s perspective
        within a team, then breaking down a problem into several parts, and finally analysing the root cause of the situation
        to mitigate conflicts and deliver a win-win solution. My ability to force group participation and bounce off ideas then
        reach to a collective decision helps the betterment of the outcome.
    </p>

    <h3>Education</h3>
    <p>Degree: Aerospace Endineering</p>
    <p>Institute: University of Sheffield</p>
    <p>Duration: 2015-2018</p>

    <h3>Hobbies</h3>
    <p>Playing computer games especially strategy and multiplayer online battle arena games.</p>
    <p>I enjoy game development and have developed a couple of games using Unity and C#.</p>
    <p>Represented my school and college in table-tennis, and now every weekend I makes time to play it.</p>
    <p>Occasionally, I enjoy going to the gym and working out to clear my mind and think more creatively.</p>

    <h3>Volunteer Work</h3>
    <p>Fund raising for Noah's Ark Children's Hospice at Brent Shopping Centre.</p>
    <p>Helping for a Dirt Bike racing event at Wembley Arena.</p>
    <p>Helping for Michael Mcintyre event at Wembley Arena.</p>

    <h3>Achievements</h3>
    <p>Medal for school level and university level in table-tennis.</p>
    <p>Represented Middlesex borough in a county-level cricket tournament.</p>
</div>

