
@{
    ViewData["Title"] = "About";
}

<div class="container">
    <div class="grid-container">
        <div class="grid-column grid-left">
            <img src="~/images/candidprofile.png" />
            <p>
                I am a proficient software developer with knowledge and competency in both frontend and backend.
                I have 3 years of academic experience in Javascript as well as 2 years in python, C# and Matlab.
                Additionally, I have 2 years of self-assigned experience working with the entire frontend pipeline
                which I have demonstrated through independent projects. My passion for development makes me a selfsufficient
                candidate eager to adapt to up-coming technologies and as such, refining my knowledge and skills further through
                professional experience.
            </p>
        </div>

        <div class="grid-column grid-right">
            <div class="grid-row">
                <h2>Education</h2>
                <p>Degree: Aerospace Endineering</p>
                <p>Institute: University of Sheffield</p>
                <p>Duration: 2015-2018</p>
            </div>
            
            <div class="grid-row">
                <h2>Hobbies</h2>
                <p>Playing computer games especially strategy and MOBA.</p>
                <p>Unity Game development with C#.</p>
                <p>Table-tennis every weekend.</p>
                <p>Occasionally, I enjoy going to the gym and working out.</p>
            </div>
            
            <div class="grid-row">
                <h2>Volunteer Work</h2>
                <p>Fund raising for Noah's Ark Children's Hospice at Brent Shopping Centre.</p>
                <p>Helping for a Dirt Bike racing event at Wembley Arena.</p>
                <p>Helping for Michael Mcintyre event at Wembley Arena.</p>
            </div>

            <div class="grid-row">
                <h2>Achievements</h2>
                <p>Medal for school level and university level in table-tennis.</p>
                <p>Represented Middlesex borough in a county-level cricket tournament.</p>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background-color: grey;
        color: white;
    }

    .grid-row h2 {
        display: inline-block;
        border-bottom: 1px dashed red;
    }

    .grid-row p { margin-bottom: 0; }
    .grid-column img { border-radius: 5%; }

    .grid-container {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .grid-left { text-align: center; }
    .grid-right { padding-left: 5%; }
    .grid-row { margin-bottom: 5%; }

    @@media (max-width: 992px) {
        .grid-column img {
            height: 312px;
            width: 312px;
        }
    }

    @@media (max-width: 768px) {
        .grid-column img {
            height: 240px;
            width: 240px;
        }
    }

    @@media (max-width: 576px) {
        .grid-container {
            display: block;
        }
    }
</style>
